@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: lightskyblue;
    font-family: 'Roboto', sans-serif;
}

#canvas{
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellow;
    width: 700px;
    height: 300px;
    margin: 50px auto;
    border-radius: 1em;
}

#primary-number, #secondary-number{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}

#primary-number{
    border: solid 4px green;
}

#secondary-number{
    border: solid 4px blue;
}

#add, #equal{
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}

input{    
    width: 150px;
    height: 30px;
    padding-left: 25px;
}

button{
    width: 100px;
    height: 35px;
    margin: 5px;
    background: red;
    color: white;
    border: 1px solid lightgrey;
}

/* Valido invalido */
.valid{
    box-shadow: 1px 1px 1px 1px rgba(0,255,0,0.4);            
}

.invalid{
    box-shadow: 1px 1px 1px 1px rgba(255,0,0,0.4);
}

.alert {
    display: block;
    max-width: 700px;
    min-height: 100px;    
    margin: 0 auto;
    font-size: 2em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
}

.alert.valid{
    background: green;
    color: white;
}

.alert.invalid{
    background-color: red;
    color: white;
}